* {
    margin: 0;
    padding: 0;
}

html {
    color: dimgray;
    font-family: 'Poppins', sans-serif;
    background: #1c1c1c;
    color: white;
}

#content {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

#navbar {
    background: linear-gradient(to bottom, #2f2f2f, #1f1f1f);
    border: 1px solid #2f2f2f;
    border-top: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    position: static;
    max-width: 800px;
    margin: 0px auto;
}

#navbar #wrap {
    position: relative;
    padding-left: 140px;
    height: 34px;
}

#navbar #right, #navbar #wrap, #navbar {
    display: flex;
    align-items: center;
}

#navbar #logo {
    position: absolute;
    top: 0;
}

#navbar #logo img {
    width: 135px;
}

#navbar .link {
    display: block;
    user-select: none;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 5px 8px;
}

#navbar .link.active {
    font-weight: bold;
}

#navbar .link:hover {
    background: #5e54eb32;
}

.card {
    border: 1px solid #2f2f2f;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card:last-child {
    margin-bottom: 0;
}

.card #cd-title {
    padding: 2px 5px;
    font-size: 14px;
    border-bottom: 1px solid #2f2f2f;
    background: linear-gradient(to bottom, #2f2f2f, #1f1f1f);
}

.card #cd-content {
    background: #1f1f1f;
    border-radius: 2px;
}

