<div id="navbar">
    <div id="left">
        <div id="logo"><img src="/static/img/logo.svg"></div>
        <div id="wrap">
            <a href="/static" class="link active">Home</a>
            <a href="" class="link">Feed</a>
            <a href="" class="link">Omnis</a>
        </div>
    </div>
    <div id="right">
        {% if session['uid'] is not defined %}
            <a href="/signup" class="link">Sign up</a>
            <a href="/signin" class="link">Sign in</a>
        {% else %}
            <a href="/signup" class="link">Welcome, {{ user_info['username'] }}</a>
            <a href="/signout" class="link">Sign out</a>
        {% endif %}
    </div>
</div>
